@import './base.css';
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

/* Scrollbar general */
html::-webkit-scrollbar {
  width: 15px;
}

/* Scrollbar en modo claro (por defecto) */
html::-webkit-scrollbar-track {
  background: #d8d8d8;
}

html::-webkit-scrollbar-thumb {
  background-color: #1018282c;
  border-radius: 100px;
  border: 3px solid #ffe0d0;
}

/* Scrollbar en modo oscuro */
html.dark::-webkit-scrollbar-track {
  background: #101828;
}

html.dark::-webkit-scrollbar-thumb {
  background-color: oklch(0.82 0.15 178);
  border: 3px solid #2b2b2b;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #7b503a;
  cursor: pointer;
}

a {
  color: #2D4335;
}

html.dark a {
  color: oklch(0.82 0.15 178);
}

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

  --color-osur: #0AFFDA;
  --color-osur-dark: #2E5345;
  --color-osur-hover: #09EBC9;
  --color-osur-dark-hover: #3D7565;


  /* Light mode */
  --color-background-light: #f4f7fb;
  --color-primary: #007bff;
  --color-primary-hover: #fff;
  --color-p-text: #1f2d3d;
  --color-subtext: #66788a;
  --color-p-text-input: #171215;
  --color-success: #4caf50;
  --color-error: #f44336;
  --color-accent: #b388ff;

  /* Dark mode */
  --color-background-dark: #1a1e24;
  --color-surface-dark: #2a2f38;
  --color-primary-dark: #66aaff;
  --color-p-text-light: #f4f7fb;
  --color-p-text-input-light: #eaebea;
  --color-subtext-dark: #a3abb8;
  --color-hover-dark: #3a3f48;
}

